<ul class="list list-gap-10 collapsible-container" data-collapse-after="5">
  {{ range sortByInt "values.0.0" "desc" (.JSON.Array "data.result") }}
  {{ $domain := .String "stream.domain" }}
  {{ $rule := .String "stream.rule" }}
  {{ if $domain }}
  <li>
    <div class="flex justify-between gap-10">
      <span class="color-highlight text-truncate" title="{{ $domain }}">{{ $domain }}</span>
      <span class="shrink-0" {{ parseTime "unix" (findMatch "^[0-9]{10}" (.String "values.0.0")) | toRelativeTime }}></span>
    </div>
    <ul class="list-horizontal-text size-h6">
      <li>{{ .String "stream.list" }}</li>
      {{ if and (ne $rule $domain) (ne $rule (concat "*." $domain)) }}<li class="text-truncate" title="{{ $rule }}">via {{ $rule }}</li>{{ end }}
    </ul>
  </li>
  {{ end }}
  {{ else }}
  <li>Nothing blocked in the last hour</li>
  {{ end }}
</ul>
