{{ $issues := "data.viewer.assignedIssues.nodes" }}
{{ $doing := .JSON.Array (concat $issues ".#(state.type==\"started\")#") }}
{{ $next := .JSON.Array (concat $issues ".#(state.type==\"unstarted\")#") }}

{{ define "issue" }}
<li>
  <div class="flex items-center gap-10">
    <span class="size-h6 color-subdue shrink-0">{{ .String "identifier" }}</span>
    <a class="color-highlight text-truncate block" href="{{ .String "url" }}" target="_blank" rel="noreferrer">{{ .String "title" }}</a>
  </div>
  <ul class="list-horizontal-text size-h6">
    <li>{{ .String "state.name" }}</li>
    {{ if .Exists "project.name" }}<li>{{ .String "project.name" }}</li>{{ end }}
  </ul>
</li>
{{ end }}

{{ if and (eq (len $doing) 0) (eq (len $next) 0) }}
<div class="text-center color-subdue">Nothing on your plate</div>
{{ else }}
<div class="flex flex-column gap-15">
  {{ if $doing }}
  <div>
    <div class="size-h5 uppercase color-primary margin-bottom-10">In progress · {{ len $doing }}</div>
    <ul class="list list-gap-10">{{ range $doing }}{{ template "issue" . }}{{ end }}</ul>
  </div>
  {{ end }}
  {{ if $next }}
  <div>
    <div class="size-h5 uppercase color-subdue margin-bottom-10">Up next · {{ len $next }}</div>
    <ul class="list list-gap-10 collapsible-container" data-collapse-after="5">{{ range $next }}{{ template "issue" . }}{{ end }}</ul>
  </div>
  {{ end }}
</div>
{{ end }}
